.signUpScreen {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}
.signUpScreen > form {
  display: grid;
  flex-direction: column;
}
.signUpScreen > form > input {
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 5px 15px;
}
.signUpScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}
.signUpScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}
.signUpScreen > form > h4 {
  text-align: left;
}
.signUpScreen__gray {
  color: gray;
}
.signUpScreen__link {
  cursor: pointer;
  text-decoration: underline;
}
